.skills-images img {
    height: 150px;
    width: 150px;
    /* object-fit: cover; */
    border-radius: 5%;
    /* border: 5px solid crimson; */
    transition: all 0.3s ease;
  }
  .skills .title::after {
    content: "What I know";
  }
  
  /* skills right column */
  .skills .skills-content .column {
    width: calc(50% - 30px);
    /* border: 2px solid red; */
    height: 60vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .skills .skills-content .left .text {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .skills .skills-content .left p {
    text-align: justify;
  }
  .skills .skills-content .left a {
    display: inline-block;
    background: Tomato;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 16px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid Tomato;
    transition: all 0.3s ease;
  }
  .skills .skills-content .left a:hover {
    color: Tomato;
    background: none;
  }
  .skills .skills-content .right .bars {
    margin-bottom: 15px;
  }
  .skills .skills-content .right .info {
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
  }
  .skills .skills-content .right span {
    font-weight: 500;
    font-size: 18px;
  }
  .skills .skills-content .right .line {
    height: 5px;
    width: 100%;
    background: Tomato;
    position: relative;
  }
  .skills .skills-content .right .line::before {
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: Tomato;
  }
  .skills-content .right .html::before {
    width: 90%;
  }
  .skills-content .right .css::before {
    width: 60%;
  }
  .skills-content .right .js::before {
    width: 80%;
  }
  .skills-content .right .php::before {
    width: 50%;
  }
  .skills-content .right .mysql::before {
    width: 70%;
  }